h2,
h3,
.subtitle {
    margin: 0;
    font-weight: 400;
}

button,
h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 114px;
    line-height: 91px;
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-size: 36px;
    line-height: 47px;
}

.subtitle {
    font-size: 24px;
    line-height: 120%;
}

.small-paragraph {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

img {
    height: auto;
    width: 100%;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    padding: 0;
    width: 284px;
    height: 53px;
    display: block;
    cursor: pointer;
    text-align: center;
    background: #F9804B;
    border: none;
    color: #ffffff;
}

.button-round {
    border-radius: 25px;
}

.button-box {
    border-radius: 5px;
}

.button-round:hover,
.button-box:hover {
    background-color: #E47209;
    transition: 0.2s;
}

.button-round:active,
.button-box:active {
    background: #4B9200;
    transition: 0.2s linear;
}

.button-round:disabled,
.button-box:disabled {
    background: #767474;
}


/* header starts*/

.header {
    background-color: #000000;
    padding: 11px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right,
logo__container {
    display: flex;
    align-items: center;
}

.logo__container {
    max-height: 52px;
    position: relative;
    padding: 1px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo {
    margin: 0;
    text-align: center;
    font-size: 19px;
}

.logo-bamboo {
    position: absolute;
    bottom: 5px;
    left: -25px;
    height: 20px;
}

.navigation__list {
    display: inline-flex;
    padding: 0;
    margin-left: 63px;
}

.active,
.navigation__link:hover,
.credit:hover {
    color: #F9804B;
    transition: 0.2s;
}

.navigation__item+.navigation__item {
    margin-left: 58px;
}


/* header ends*/

/* section watch starts*/

.watch {
    position: relative;
    padding-bottom: 94px;
    background: url('../../assets/images/panda-background.png') no-repeat;
    background-size: 100%;
}

.watch__circle-container {
    margin-bottom: 78px;
    width: 100%;
    height: auto;
}

.watch__circle {
    margin-left: auto;
    margin-right: 101px;
    position: relative;
    top: 12px;
    background: url('../../assets/images/circle.svg') no-repeat;
    background-size: contain;
    width: 440px;
    height: 440px;
}

.watch__text {
    position: relative;
    top: 67px;
    left: 75px;
    display: block;
    color: #ffffff;
    word-spacing: 9999999px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 93px;
    line-height: 77px;
}

.color {
    color: #FFEE2E;
}

.watch__button {
    display: block;
    margin-left: auto;
    margin-right: 95px;
}

/* section watch ends*/

/* section backstage starts*/


.backstage {
    color: #000000;
    position: relative;
    margin-bottom: 155px;
}

.flower1 {
    position: absolute;
    z-index: -100;
    right: 0;
    width: 200px;
    top: -110px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backstage__grid {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
}

.backstage__photo-container {
    background-image: url('../../assets/images/bamboo-cap.png');
}

/* section backstage ends*/

/* section pets starts*/

.pets {
    position: relative;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 40%;
}

.arrow__button-left {
    position: relative;
    left: -85px;
}

.arrow__button-right {
    position: relative;
    right: -1120px;
}

.arrow__button-left,
.arrow__button-right {
    cursor: pointer;
    width: 62px;
    height: 62px;
    background: #F9804B;
    border-radius: 50%;
    border: 0;
    color: #ffffff;
}


.arrow__button-left:hover,
.arrow__button-right:hover {
    background-color: #E47209;
    transition: 0.2s;
}

.arrow__button-left:active,
.arrow__button-right:active {
    background: #4B9200;
    transition: 0.2s linear;
}

.pets__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 408px);
    gap: 18px 30px;
    margin-bottom: 70px;
}

.pets__item {
    border-radius: 6px;
    border: orange solid 1px;
}

.pets__item-img {
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.pets__text {
    position: relative;
    padding: 5px 14px;
}

.pets__item-title {
    color: #000000;
    margin: 0;
}

.pets__item-text {
    color: #000000;
    margin: 0;
}

.pets__icon {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 33px;
    height: 37px;
}

.meet-fish__icon {
    width: 48px;
    height: 38px;
}

.pets__button {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
}

.flower2 {
    z-index: -100;
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 274px;
}

.flower3 {
    z-index: -100;
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 368px;
    height: 275px;
}

/* section pets ends*/

/* section pick-and-feed starts*/

.pick-and-feed {
    padding-top: 66px;
    padding-bottom: 85px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.pick-and-feed__container {
    padding: 35px 90px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #333B41;
}

.pick-and-feed__title {
    margin-bottom: 30px;
    text-align: center;
    color: #FE9013;
}

.pick-and-feed__small-title {
    text-align: center;
    margin-bottom: 40px;
}

.pick-and-feed__subtitle {
    margin-top: 0;
    margin-bottom: 36px;
}

.pick-and-feed__bold-text {
    font-weight: 500;
    font-size: 16px;
}

.link__underline {
    border-bottom: 2px solid #FE9013;
}

.how-it-works__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    max-width: 740px;
    margin: 0 auto 40px auto;
}

.item__photo {
    padding: 50px 30px;
    width: 160px;
    height: 160px;
    background: #FFFFFF no-repeat;
    border-radius: 5px;
    border: 1px solid #F9804B;
}

.item__icon {
    max-height: 85px;
}

.container__arrow {
    width: 69px;
    height: 35.08px;
    align-self: center;
}

.container__text {
    justify-self: start;
    display: block;
    max-width: 170px;
}

.container__text-left {
    grid-column: 1 / 2;
}

.container__text-center {
    grid-column: 3 / 4;
}

.container__text-right {
    grid-column: 5/6;
}

.pick-and-feed__button {
    margin: 0 auto 10px auto;
    padding: 16px 60px;
}

/* section pick-and-feed ends*/

/* section testimonials starts*/

.testimonials {
    padding-top: 125px;
    color: #000000;
    position: relative;
}

.testimonial__text {
    white-space: pre-line;
    word-wrap: break-word;
}

.testimonials__small-title {
    margin-bottom: 50px;
    text-align: center;
}

.testimonials__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 22px;
}

.testimonials__item {
    border-radius: 20px;
    background: #F1F3F2;
    border: 2px solid pink;
    padding: 11px 16px 19px 13px;
}

.testimonials__info {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 5px;
    margin-bottom: 10px;
}

.testimonials__info p {
    display: block;
    margin: 0;
}

.testimonial__info-time {
    font-style: oblique;
}

.testimonial__info-location+.testimonial__info-time {
    margin: 0 5px;
}

.author__pic {
    width: 35px;
    height: 35px;
}

.testimonial__location-time {
    display: flex;
    flex-direction: row;
    color: #BDBDBD;
}

.testimonial__text {
    white-space: pre-line;
    word-wrap: break-word;
    color: #767474;
}

.scrol {
    width: 600px;
    height: 6px;
    appearance: none;
    display: block;
    margin: 0 auto 30px auto;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    border-radius: 6px/100%;
    border: 1px solid pink;
    background-color: #F5F7F6;
}

input[type=range]::-webkit-slider-thumb {
    background: #FE9013;
    border-radius: 6px/100%;
    cursor: pointer;
    width: 115px;
    height: 6px;
    -webkit-appearance: none;
    margin-top: -1px;
}

.testimonials__button {
    margin-bottom: 170px;
}

.flower4 {
    z-index: -100;
    display: block;
    position: absolute;
    right: 0;
    bottom: -300px;
    width: 250px;
}

/* section testimonials ends*/

/* footer starts*/

.footer {
    background-color: #111115;
    padding: 40px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__subtitle {
    margin-bottom: 14px;
}
.footer__text {
    color: #ffffff;
    margin: 0;
    line-height: 21px;
}

#email {
    background: #111115;
    color: #BDBDBD;
    border: 1px solid orange;
    border-radius: 2px;
    padding: 10px;
}

#submit {
    border: 1px solid #333B41;
    padding: 10px 34px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#submit:active {
    color: #4B9200;
    border: 1px solid #4B9200;
}

#submit:invalid {
    color: #D31414;
    border: 1px solid #D31414;
}

.footer__button {
    margin-bottom: 26px;
}

.networks__list {
    padding: 0;
}

.network__icon {
    display: inline-block;
    background: rgba(196, 196, 196, 0.5);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}

.network__pic {
    max-height: 16px;
}


.network__text {
    display: inline-block;
    margin: 0 0 6px 4px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer__info {
    font-weight: 100;
    font-size: 16px;
}

/* footer ends*/