html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto';
    color: #ffffff;
}
img {
        height: auto;
        width: 100%;      
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.button {
    cursor: pointer;
    text-align: center;
text-transform: uppercase;
padding: 16px 84px;
background: #F9804B;
border-radius: 25px;
border: none;
color: #ffffff;
}
.button:hover {
    background-color: #E47209;
    transition: 0.2s;
}
.button:active {
    background: #4B9200;
    transition: 0.2s linear;
}
.button:disabled {
    background: #767474;
}

/* header starts*/

.header {
    background-color: #000000;
    padding: 12px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    padding: 1px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}


.logo-bamboo {
    position: absolute;
    bottom: 5px;
    left: -25px;
    height: 20px;
}

.navigation__list {
    display: inline-flex;
}

.active, .navigation__link:hover {
    color: #F9804B;
    transition: 0.2s;
}

.navigation__item+.navigation__item {
    margin-left: 58px;
}


/* header ends*/

/* section watch starts*/

.watch {
    position: relative;
    padding-bottom: 97px;
    background: url('../../assets/images/panda-background.png') no-repeat;
    background-size: 100%;
}

.watch__circle-container {
    margin-bottom: 80px;
}
.watch__circle {
    margin-left: auto;
    margin-right: 101px;  
    position: relative;
    top: 12px;
    background: url('../../assets/images/circle.svg') no-repeat;
    background-size: contain;
    width: 440px;
    height: 440px;
}

.watch__text {
    position: relative;
    top: 72px;
    left: 76px;
    display: block;
    font-weight: 700;
    font-size: 103px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    word-spacing: 9999999px;
    margin: 0;
    text-align: center;
}
.color{
    color: #FFEE2E;
}
.watch__button {
display: block;
margin-left: auto;
margin-right: 95px;  
}

/* section watch ends*/

/* section backstage starts*/

.backstage {
    color: #000000;
    position: relative;
}

.flower1 {
    position: absolute;
    right: 0;
    top: -100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backstage__grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 465px;
    gap: 87px;
}
.backstage__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;    
}
.backstage__photo {
    backdrop-filter: blur(2px);
}

/* section backstage ends*/
